/* TEMA GELAP */

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #9BD5EA;
    --color-fg: #061945;
    --color-surface: #C2E7FF;
    --color-border: #234F67;
    --color-primary: #1D3A8C;
    --color-danger: #C50024;
    --color-focus: #2563EB;

    --shadow-1: 0 1px 3px rgba(0, 0, 0, .45);
  }
}

/* Pengalih tema manual */

.pengalih-tema {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Tema gelap saat checkbox dicentang */

:root:has(#tema:checked) {
  --color-bg: #9BD5EA;
  --color-fg: #061945;
  --color-surface: #C2E7FF;
  --color-border: #234F67;
  --color-primary: #1D3A8C;
  --color-danger: #C50024;
  --color-focus: #2563EB;
}